.about {
  background: #fff;
}
.about h2 {
  margin: ;
}
.about .profile-row .user-img-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.about .profile-row .user-img-wrapper .user-img {
  border-radius: 15px;
  overflow: hidden;
  background: #d9dde2;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.about .profile-row .user-img-wrapper .user-img:hover img {
  filter: grayscale(0%);
  transition: filter 0.5s ease-in-out;
}
.about .profile-row .user-img-wrapper .user-img img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}
.about .profile-row .user-img-wrapper .social-links {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  padding: 0;
  margin: 0;
  gap: 10px;
  transform: translateX(-50%);
}
.about .profile-row .user-img-wrapper .social-links li {
  list-style: none;
}
.about .profile-row .user-img-wrapper .social-links li a {
  background: #ffffff10;
  backdrop-filter: blur(5px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.about .profile-row .user-info {
  text-align: center;
}
.about .profile-row .user-info h3 {
  text-align: center;
  margin: 0;
}
.about .profile-row .user-info h6 {
  color: #545454;
  text-align: center;
  margin-bottom: 20px;
}
.about .profile-row .user-info p {
  text-align: center;
  font-size: 18px;
}
.about .profile-row .user-info .btn {
  width: fit-content;
  margin: 0 auto;
}
