footer {
  background: #000000;
  padding: 100px 0 0 0;
  // border-top-left-radius: 20px;
  // border-top-right-radius: 20px;
  margin-top: -50px;
  position: relative;
  z-index: 2;
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    .footer-logo {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      font-family: "Geist-Bold", sans-serif;
    }
    .social-links {
      display: flex;
      gap: 10px;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
  .get-in-touch {
    padding: 40px 20px;
    max-width: 370px;
    margin: 0 auto;
    @media @sm {
      max-width: 460px;
    }
    @media @md {
      max-width: 580px;
    }
    @media @lg {
      
    }
    .get-in-touch-content {
      h2 {
        color: #fff;
        font-size: 40px;
        font-weight: 600;
        margin: 0;
        @media @sm {
          font-size: 70px;
        }
        @media @md {
         font-size: 90px;
        }
        @media @lg {
          
        }
      }
      .cta-btn-wrap {
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin-top: -50px;
        @media @md {
          margin-top: -75px;
        }
        @media @lg {
          
        }
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 100%;
          height: 1px;
          background: #ffffff20;
        }
        .cta-btn {
          display: block;
          width: 140px;
          height: 140px;
          border-radius: 50%;
          background: #a0e146;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000000;
          position: relative;
          @media @md {
            width: 180px;
            height: 180px;
          }
        }
      }
    }
  }
  .footer-nav {
    padding: 15px 0;
    ul {
      display: flex;
      gap: 15px;
      margin: 0;
      padding: 0;
      align-items: center;
      justify-content: center;
      li {
        list-style: none;
        margin: 0;
        padding: 0;
        a {
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }
  .row.privacy {
    padding: 15px 0;
    border-top: 1px solid #ffffff20;
    .col-12 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    p {
      font-size: 12px;
      color: #ffffff80;
      margin: 0;
      width: fit-content;
    }
  }
}
