footer {
  background: #000000;
  padding: 50px 0 0 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-top .footer-logo {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  font-family: 'Geist-Bold', sans-serif;
}
footer .footer-top .social-links {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
footer .footer-top .social-links li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .get-in-touch {
  padding: 40px 20px;
}
footer .get-in-touch .get-in-touch-content h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}
footer .get-in-touch .get-in-touch-content .cta-btn-wrap {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: -50px;
}
footer .get-in-touch .get-in-touch-content .cta-btn-wrap::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 1px;
  background: #ffffff20;
}
footer .get-in-touch .get-in-touch-content .cta-btn-wrap .cta-btn {
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #A0E146;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  position: relative;
}
footer .footer-nav {
  padding: 15px 0;
}
footer .footer-nav ul {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
footer .footer-nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footer-nav ul li a {
  color: #fff;
  font-size: 16px;
}
footer .row.privacy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 15px 0 15px 0;
  border-top: 1px solid #FFFFFF20;
}
footer .row.privacy p {
  font-size: 12px;
  color: #FFFFFF80;
  margin: 0;
  width: fit-content;
}
