section {
  padding: 50px 0;
}
section:not(.banner) {
  border-bottom: 1px solid #00000020;
}
h6.subtitle {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}
h6.subtitle::before {
  content: "";
  position: relative;
  width: 13px;
  height: 14px;
  display: block;
  background: url(../images/icon-star.svg);
  margin-right: 5px;
  top: -1px;
}
