section {
  padding: 50px 0;
  @media @sm {
    padding: 60px 0;
  }
  @media @md {
    padding: 70px 0;
  }
  @media @xxl {
    padding: 100px 0 180px 0;
  }
  &:not(.banner) {
    border-bottom: 1px solid #00000020;
    border-radius: 50px 50px 0 0;
    margin-top: -50px;
    position: relative;
    // z-index: 1;
    overflow: visible;
  }
}

.section-subtitle {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
  display: none;
  &::before {
    content: "";
    position: relative;
    width: 13px;
    height: 14px;
    display: block;
    background: url(../images/icon-star.svg);
    margin-right: 5px;
    top: -1px;
  }
}

.section-title {
  margin: 0 0 30px 0;
  @media @xl {
    margin: 0 0 40px 0;
  }
  @media @xxl {
    margin: 0 0 90px 0;
  }
}
