.home-banner {
  padding: 100px 0 0 0;
  position: relative;
  overflow: hidden;
  height: calc(100vh + 80px);
  min-height: 500px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000085;
    z-index: 1;
    opacity: 0.3;
  }
  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  .bg-vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: 0;
    opacity: 0;
    video {
      width: 100%;
      height: 100%;
      border-radius: 0px;
      display: block;
      object-fit: cover;
      background-color: rgba(0, 0, 0, 0);
      object-position: 50% 50%;
    }
  }
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    .user-img {
      background: #d9dde2;
      width: 66px;
      height: 66px;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid rgb(0 0 0 / 10%);
      margin-bottom: -10px;
    }
    .user-desc {
      display: flex;
      align-items: center;
      gap: 10px;
      background: #fff;
      padding: 10px 15px;
      border-radius: 5px;
      .active-dot {
        width: 10px;
        height: 10px;
        background: #14b442;
        border-radius: 50%;
      }
      p {
        font-size: 12px;
        line-height: 1;
        margin: 0;
        color: #000;
      }
    }
  }
  h1 {
    // text-align: center;
    font-weight: 600;
    color: #fff;
    line-height: 1;
    margin-bottom: 30px;
    max-width: 800px;
  }
  p {
    color: #fff;
    // margin: 0 auto 30px auto;
    max-width: 400px;
  }
  .btn-row {
    display: flex;
    // justify-content: center;
    gap: 20px;
  }
  a{
    font-size: 30px;
    color: #fff;
    text-align: left;
    font-weight: 600;
    display: flex;
    gap: 10px;
    position: relative;
    padding-bottom: 6px;
    &::before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #fff;
      opacity: 0.2;
    }
    img{
      filter: invert(1);
    }
  }
  .service-marquee {
    margin: 50px auto 20px auto;
    display: flex;
    flex-flow: column;
    height: 2rem;
    padding-top: 0.675rem;
    mask: linear-gradient(#0000, #000 50%, #0000);
    .service-marquee__item {
      transition: transform 0.3s linear;
      p {
        max-width: 100%;
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
}

.trusted-partners {
  padding: 0;
  border: 0;
  background: #fff;
  .client-logo-row-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    mask: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0%,
      rgb(0, 0, 0) 10%,
      rgb(0, 0, 0) 50%,
      rgb(0, 0, 0) 90%,
      rgba(0, 0, 0, 0) 100%
    );
    .client-logo-row {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.3s linear;
      animation: marquee-scroll 30s linear infinite;
      .client-logo-wrap {
        width: 200px;
        max-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #00000010;
        padding: 30px;
        img {
          height: 40px;
        }
      }
    }
  }
}
@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.testimonials {
  background: #d8e9e4;
  z-index: 4;
  .rating-box {
    background: #fff;
    color: #000;
    box-shadow: @box-shadow-1;
    padding: 20px 20px;
    border-radius: 15px;
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
    @media @sm {
      height: 100%;
    }
    @media @xl {
      padding: 30px;
    }
    @media @xxl {
      padding: 40px 30px;
    }
    .rating-text {
      font-size: 50px;
      line-height: 50px;
      text-align: center;
      margin: 0 0 15px;
      font-weight: 600;
    }
    span {
      text-align: center;
      display: block;
      margin: 0 0 15px 0;
      color: #00000050;
    }
    .rating-stars {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 24px;
        height: 24px;
      }
    }
    .desc {
      text-align: center;
      font-size: 22px;
      line-height: 28px;
      font-weight: 500;
      @media @xl {
        font-size: 24px;
        line-height: 32px;
      }
      @media @xxl {
        font-size: 28px;
        line-height: 36px;
      }
    }
  }
  .testimonial-slider {
    // padding-bottom: 15px;
    background: #fff;
    border-radius: 15px;
    box-shadow: @box-shadow-1;
    @media @sm {
      height: 100%;
    }
    .swiper-wrapper {
      .swiper-slide {
        border-right: 1px solid #00000020;
        .testimonial-card {
          background: #fff;
          // border-radius: 15px;
          // box-shadow: @box-shadow-1;
          // margin: 15px;
          // @media @sm {
          //   margin: 0 15px;
          // }
          padding: 20px;
          @media @sm {
            padding: 30px 40px;
          }
          @media @md {
            padding: 20px;
          }
          @media @xl {
            padding: 30px;
          }
          .testimonial-card__content {
            // padding: 20px 20px;
            // border-bottom: 1px solid #00000020;

            img {
              margin-bottom: 15px;
              width: 30px;
              height: 30px;
              @media @md {
                float: left;
                margin: 0 15px 0 0;
                width: 25px;
                height: 25px;
              }
              @media @xl {
                float: none;
                margin: 0 0 15px 0;
                width: 30px;
                height: 30px;
              }
            }
            p {
              margin: 0 0 20px 0;
              @media @sm {
                margin: 0 0 25px 0;
              }
              @media @md {
                margin: 0 0 20px 0;
              }
              @media @xxl {
                margin: 0 0 25px 0;
              }
            }
          }

          .auther-info {
            display: flex;
            align-items: center;
            // padding: 20px 20px;
            .auther-img {
              background: #d9dde2;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              overflow: hidden;
              border: 1px solid rgba(0, 0, 0, 0.1);
              @media @md {
                width: 38px;
                height: 38px;
              }
            }
            .auther-name {
              width: calc(100% - 66px);
              padding-left: 10px;
              // @media @md {
              //   padding-left: 10px;
              // }
              p {
                font-size: 16px;
                line-height: 16px;
                font-weight: 500;
                margin: 0;
              }
              span {
                color: #00000080;
              }
            }
          }
        }
      }
    }
  }
}
