.home-banner {
  padding: 100px 0 0 0;
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 500px;
}
.home-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000085;
  z-index: 1;
  opacity: 0.3;
}
.home-banner .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-banner .bg-img img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.home-banner .bg-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  z-index: 0;
  opacity: 0;
}
.home-banner .bg-vid video {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  display: block;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0);
  object-position: 50% 50%;
}
.home-banner .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.home-banner .user-info .user-img {
  background: #d9dde2;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: -10px;
}
.home-banner .user-info .user-desc {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 10px 15px;
  border-radius: 5px;
}
.home-banner .user-info .user-desc .active-dot {
  width: 10px;
  height: 10px;
  background: #14b442;
  border-radius: 50%;
}
.home-banner .user-info .user-desc p {
  font-size: 12px;
  line-height: 1;
  margin: 0;
  color: #000;
}
.home-banner h1 {
  text-align: center;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  margin-bottom: 30px;
}
.home-banner p {
  color: #fff;
  text-align: center;
  margin: 0 auto 30px auto;
  max-width: 320px;
}
.home-banner .btn-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.home-banner .service-marquee {
  margin: 50px auto 20px auto;
  display: flex;
  flex-flow: column;
  height: 2rem;
  padding-top: 0.675rem;
  mask: linear-gradient(#0000, #000 50%, #0000);
}
.home-banner .service-marquee .service-marquee__item {
  transition: transform 0.3s linear;
}
.home-banner .service-marquee .service-marquee__item p {
  max-width: 100%;
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}
.trusted-partners {
  padding: 0;
  border: 0;
  background: #fff;
}
.trusted-partners .client-logo-row-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.trusted-partners .client-logo-row-wrap .client-logo-row {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s linear;
  animation: marquee-scroll 30s linear infinite;
}
.trusted-partners .client-logo-row-wrap .client-logo-row .client-logo-wrap {
  width: 200px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00000010;
  padding: 30px;
}
.trusted-partners .client-logo-row-wrap .client-logo-row .client-logo-wrap img {
  height: 40px;
}
@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.faq .faq-card-wrapper {
  background: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.faq .faq-card-wrapper .faq-user-card {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq .faq-card-wrapper .faq-user-card .card-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.faq .faq-card-wrapper .faq-user-card .card-top .card-img {
  background: #d9dde2;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.faq .faq-card-wrapper .faq-user-card .card-top p {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  width: calc(100% - 66px);
  padding-left: 20px;
}
.faq .faq-card-wrapper .faq-user-card .btn {
  min-width: 200px;
  text-align: center;
  margin: 0 auto;
}
.faq .faq-card-wrapper .faq-user-card .email {
  margin-top: 30px;
}
.accordion {
  padding: 20px 0;
}
@medi .accordion-item {
  background: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin-top: 10px;
   + .accordion-item {
    margin-top: 10px;
  }
  .accordion-header .accordion-button {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    transition: transform 0.3s ease;
    font-size: 16px;
    font-weight: 500;
    padding-right: 50px;
    color: #000;
  }
  .accordion-header .accordion-button .acc-no {
    transition: all 0.3s ease;
    opacity: 1;
    transform: 0;
    transform-origin: 50% 50% 0px;
    will-change: transform;
  }
  .accordion-header .accordion-button .acc-text {
    transition: all 0.3s ease;
    transform: translateX(15px);
    position: relative;
    padding-right: 15px;
  }
  .accordion-header .accordion-button::after {
    position: absolute;
    right: 20px;
    background-image: url(../images/icon-plus-new.svg);
    margin-left: 15px;
  }
  .accordion-header .accordion-button:not(.collapsed) {
    border-bottom: 1px solid #00000020;
  }
  .accordion-header .accordion-button:not(.collapsed)::after {
    transform: rotate(45deg);
  }
  .accordion-header .accordion-button:not(.collapsed) .acc-no {
    transform: translateX(-50%);
    transform-origin: 50% 50% 0px;
    will-change: transform;
    position: absolute;
    opacity: 0;
  }
  .accordion-header .accordion-button:not(.collapsed) .acc-text {
    transform: translateX(0);
  }
  .accordion-collapse .accordion-body {
    padding-bottom: 20px;
  }
  .accordion-collapse .accordion-body p {
    margin: 20px 0 0 0;
  }
  .accordion-collapse .accordion-body p:nth-child(1) {
    margin: 0;
  }
}
.testimonials .testimonial-slider {
  padding-bottom: 15px;
}
.testimonials .testimonial-slider .swiper-wrapper .swiper-slide .testimonial-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 15px;
}
.testimonials .testimonial-slider .swiper-wrapper .swiper-slide .testimonial-card .testimonial-card__content {
  padding: 20px 20px;
  border-bottom: 1px solid #00000020;
}
.testimonials .testimonial-slider .swiper-wrapper .swiper-slide .testimonial-card .testimonial-card__content img {
  margin-bottom: 15px;
}
.testimonials .testimonial-slider .swiper-wrapper .swiper-slide .testimonial-card .testimonial-card__content p {
  margin: 0;
}
.testimonials .testimonial-slider .swiper-wrapper .swiper-slide .testimonial-card .auther-info {
  display: flex;
  align-items: center;
  padding: 20px 20px;
}
.testimonials .testimonial-slider .swiper-wrapper .swiper-slide .testimonial-card .auther-info .auther-img {
  background: #d9dde2;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.testimonials .testimonial-slider .swiper-wrapper .swiper-slide .testimonial-card .auther-info .auther-name {
  width: calc(100% - 66px);
  padding-left: 15px;
}
.testimonials .testimonial-slider .swiper-wrapper .swiper-slide .testimonial-card .auther-info .auther-name p {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  margin: 0;
}
