.home-banner {
  padding: 100px 0 0 0;
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 500px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000085;
    z-index: 1;
    opacity: 0.3;
  }
  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  .bg-vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: 0;
    opacity: 0;
    video {
      width: 100%;
      height: 100%;
      border-radius: 0px;
      display: block;
      object-fit: cover;
      background-color: rgba(0, 0, 0, 0);
      object-position: 50% 50%;
    }
  }
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    .user-img {
      background: #d9dde2;
      width: 66px;
      height: 66px;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid rgb(0 0 0 / 10%);
      margin-bottom: -10px;
    }
    .user-desc {
      display: flex;
      align-items: center;
      gap: 10px;
      background: #fff;
      padding: 10px 15px;
      border-radius: 5px;
      .active-dot {
        width: 10px;
        height: 10px;
        background: #14b442;
        border-radius: 50%;
      }
      p {
        font-size: 12px;
        line-height: 1;
        margin: 0;
        color: #000;
      }
    }
  }
  h1 {
    text-align: center;
    font-weight: 600;
    color: #fff;
    line-height: 1;
    margin-bottom: 30px;
  }
  p {
    color: #fff;
    text-align: center;
    margin: 0 auto 30px auto;
    max-width: 320px;
  }
  .btn-row {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .service-marquee {
    margin: 50px auto 20px auto;
    display: flex;
    flex-flow: column;
    height: 2rem;
    padding-top: 0.675rem;
    mask: linear-gradient(#0000, #000 50%, #0000);
    .service-marquee__item {
      transition: transform 0.3s linear;
      p {
        max-width: 100%;
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
}

.trusted-partners {
  padding: 0;
  border: 0;
  background: #fff;
  .client-logo-row-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    .client-logo-row {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.3s linear;
      animation: marquee-scroll 30s linear infinite;
      .client-logo-wrap {
        width: 200px;
        max-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #00000010;
        padding: 30px;
        img {
          height: 40px;
        }
      }
    }
  }
}
@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.faq {
  .faq-card-wrapper {
    background: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .faq-user-card {
      background: #fff;
      padding: 30px;
      border-radius: 15px;
      align-items: center;
      @media @sm {
        padding: 30px 20px;
      }
      .card-img {
        background: #d9dde2;
        width: 66px;
        height: 66px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0 auto 15px auto;
        @media @sm {
          margin: 0 0 15px;
        }
      }
      .card-title {
        font-size: 22px;
        line-height: 26px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 15px;
        @media @sm {
          text-align: left;
        }
        @media @md {
          font-size: 24px;
          line-height: 32px;
        }
      }
      .btn {
        max-width: 200px;
        margin: 0 auto;
        @media @sm {
          margin: 0;
        }
      }
      .email {
        margin: 30px 0 0 0;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        @media @sm {
          margin: 15px 0 0 0;
          text-align: left;
        }
      }
    }
  }
}

.accordion {
  padding: 20px 0;
  @media @sm {
    padding: 0;
  }
  .accordion-item {
    background: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    & + .accordion-item {
      margin-top: 10px;
    }
    .accordion-header {
      .accordion-button {
        background-color: transparent;
        outline: none;
        box-shadow: none;
        transition: transform 0.3s ease;
        font-size: 16px;
        font-weight: 500;
        padding-right: 50px;
        color: #000;
        .acc-no {
          transition: all 0.3s ease;
          opacity: 1;
          transform: 0;
          transform-origin: 50% 50% 0px;
          will-change: transform;
        }
        .acc-text {
          transition: all 0.3s ease;
          transform: translateX(15px);
          position: relative;
          padding-right: 15px;
        }
        &::after {
          position: absolute;
          right: 20px;
          background-image: url(../images/icon-plus-new.svg);
          margin-left: 15px;
        }
        &:not(.collapsed) {
          border-bottom: 1px solid #00000020;
          &::after {
            transform: rotate(45deg);
          }
          .acc-no {
            transform: translateX(-50%);
            transform-origin: 50% 50% 0px;
            will-change: transform;
            position: absolute;
            opacity: 0;
          }
          .acc-text {
            transform: translateX(0);
          }
        }
      }
    }
    .accordion-collapse {
      .accordion-body {
        padding-bottom: 20px;
        p {
          margin: 20px 0 0 0;
        }
        p:nth-child(1) {
          margin: 0;
        }
      }
    }
  }
}

.testimonials {
  .testimonial-slider {
    padding-bottom: 15px;
    .swiper-wrapper {
      .swiper-slide {
        .testimonial-card {
          background: #fff;
          border-radius: 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          margin: 15px;
          .testimonial-card__content {
            padding: 20px 20px;
            border-bottom: 1px solid #00000020;
            img {
              margin-bottom: 15px;
            }
            p {
              margin: 0;
            }
          }

          .auther-info {
            display: flex;
            align-items: center;
            padding: 20px 20px;
            .auther-img {
              background: #d9dde2;
              width: 66px;
              height: 66px;
              border-radius: 50%;
              overflow: hidden;
              border: 1px solid rgba(0, 0, 0, 0.1);
            }
            .auther-name {
              width: calc(100% - 66px);
              padding-left: 15px;
              p {
                font-size: 18px;
                line-height: 18px;
                font-weight: 500;
                margin: 0;
              }
              span {
              }
            }
          }
        }
      }
    }
  }
}
