.recent-projects {
  background: #eef0f6;
}
.recent-projects h2 {
  margin: ;
}
.recent-projects .recent-projects-card {
  border-radius: 15px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}
.recent-projects .recent-projects-card .card-img {
  position: relative;
  overflow: hidden;
}
.recent-projects .recent-projects-card .card-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.1;
}
.recent-projects .recent-projects-card .card-body {
  padding: 10px;
}
.recent-projects .recent-projects-card .card-body span {
  font-size: 12px;
  text-transform: uppercase;
}
.recent-projects .recent-projects-card .card-body .title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.recent-projects .recent-projects-card .card-body .title img {
  width: 24px;
}
.recent-projects .recent-projects-card .card-body .title h3 {
  margin: 0;
}
.recent-projects .recent-projects-card .card-body p {
  color: #00000060;
}
.recent-projects .btn-primary {
  margin-top: 30px;
}
.recent-projects .projects-row {
  --bs-gutter-y: 30px;
}
