.services {
  background: #121212;
  z-index: 3;
  h2{
    color: #fff;
  }
  .service-row {
    --bs-gutter-y: 30px;
  }
  .service-card {
    background: #1c1c1c;
    color: #fff;
    padding: 30px 20px;
    border-radius: 15px;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .service-count {
      font-size: 20px;
      font-weight: 600;
      margin: 0 0 50px 0;
      @media @xxl {
        margin: 0 0 100px 0;
      }
    }
    img {
      height: 93px;
      width: 93px;
      object-fit: cover;
      object-position: center;
      margin: 0 0 20px 0;
      @media @xxl {
        margin: 0 0 50px 0;
      }
    }
    h3 {
      margin: 0 0 22px 0; 
    }
    p:not(.service-count) {
      margin: 0;
    }
  }
  .contact-box {
    background: #1c1c1c;
    color: #ffffff;
    padding: 20px 41px;
    border-radius: 15px;
    text-align: center;
    margin: 70px 0 0 0;
    // box-shadow: @box-shadow-1;
    p {
      margin: 0;
      font-size: 18px;
    }
    a {
      font-size: 18px;
      color: #ffffff;
      text-decoration: underline;
    }
  }
}
