.services {
  background: #f8f7f3;
  z-index: 3;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  h2 {
    color: #000000;
  }
  .service-row {
    --bs-gutter-y: 30px;
  }
  .service-card {
    background: #ffffff;
    color: #000000;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: @box-shadow-1;
    .service-count {
      font-size: 20px;
      font-weight: 600;
      margin: 0 0 50px 0;
      @media @xxl {
        margin: 0 0 100px 0;
      }
    }
    img {
      height: 93px;
      width: 93px;
      object-fit: cover;
      object-position: center;
      margin: 0 0 20px 0;
      // filter: invert(1);
      @media @xxl {
        margin: 0 0 50px 0;
      }
    }
    h3 {
      margin: 0 0 22px 0;
    }
    p:not(.service-count) {
      margin: 0;
    }
  }
  .contact-box {
    background: #ffffff;
    color: #000000;
    padding: 20px 41px;
    border-radius: 15px;
    text-align: center;
    margin: 70px 0 0 0;
    box-shadow: @box-shadow-1;
    p {
      margin: 0;
      font-size: 18px;
    }
    a {
      font-size: 18px;
      color: #000000;
      text-decoration: underline;
    }
  }
}

.services-row {
  background: #fff;
  .service-card {
    border-bottom: 1px solid #8f8f8f;
    padding: 30px 0;
    align-items: center;
    &.card-1 {
      border-top: 1px solid #8f8f8f;
    }
    .title-col {
      display: flex;
      align-items: center;
      gap: 10px;
      .service-title {
        display: flex;
        align-items: stretch;
        width: 50%;
        gap: 10px;
        .service-count {
          font-size: 20px;
          font-weight: 700;
          display: block;
        }
        h3 {
          font-size: 50px;
          font-weight: 700;
          text-transform: uppercase;
          margin: 0;
          mix-blend-mode: darken;
          z-index: 2;
        }
      }
      .overlay-img{
        position: absolute;
        width: 240px;
        height: 240px;
        
        img{
          border-radius: 15px;
          aspect-ratio: 1 / 1;
          object-fit: cover;        
          object-position: center;
        }
      }
      .service-pills {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        width: 50%;
        span {
          font-size: 16px;
          line-height: 16px;
          padding: 10px 12px;
          border: 1px solid #8f8f8f;
          border-radius: 20px;
          color: #8f8f8f;
        }
      }
    }
    .content-col {
      display: flex;
      align-items: center;
      gap: 10px;
      .service-desc {
        transition: all 0.3s;
        transform: translateX(65px);
        p {
          margin: 0;
        }
      }
      .service-arrow {
        transform: scale(0);
        transition: all 0.3s;
        .arrow {
          width: 40px;
          height: 40px;
          padding: 10px;
          border-radius: 50%;
          background: #000000;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            filter: invert(1);
          }
        }
      }
    }
    &:hover{
      .service-desc{
        transform: translateX(0);
      }
      .service-arrow {
        transform: scale(1);
      }
    }
  }
}
