.services {
  background: #fff;
}
.services .service-card {
  background: #f9f9f9;
  border-radius: 15px;
  border: 1px solid #00000015;
  overflow: hidden;
  position: relative;
}
.services .service-card .service-card__content {
  padding: 30px 20px;
}
.services .service-card .service-card__content .feature-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.services .service-card .service-card__content .feature-tags span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background: #eef0f6;
  border: 1px solid #00000010;
  color: #4f4f4f;
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  padding: 8px;
  border-radius: 5px;
}
.services .service-card .service-card__content .feature-tags span img {
  width: 20px;
  height: 20px;
}
