@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Bold.woff2") format("woff2"), url("../fonts/Geist-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-ExtraBold.woff2") format("woff2"), url("../fonts/Geist-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Black.woff2") format("woff2"), url("../fonts/Geist-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Thin.woff2") format("woff2"), url("../fonts/Geist-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Medium.woff2") format("woff2"), url("../fonts/Geist-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Regular.woff2") format("woff2"), url("../fonts/Geist-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-SemiBold.woff2") format("woff2"), url("../fonts/Geist-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Light.woff2") format("woff2"), url("../fonts/Geist-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Display";
  src: url("../fonts/InterDisplay-Black.woff2") format("woff2"), url("../fonts/InterDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Display";
  src: url("../fonts/InterDisplay-Bold.woff2") format("woff2"), url("../fonts/InterDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Display";
  src: url("../fonts/InterDisplay-Medium.woff2") format("woff2"), url("../fonts/InterDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Display";
  src: url("../fonts/InterDisplay-ExtraBold.woff2") format("woff2"), url("../fonts/InterDisplay-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Display";
  src: url("../fonts/InterDisplay-SemiBold.woff2") format("woff2"), url("../fonts/InterDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Display";
  src: url("../fonts/InterDisplay-Thin.woff2") format("woff2"), url("../fonts/InterDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Display";
  src: url("../fonts/InterDisplay-Regular.woff2") format("woff2"), url("../fonts/InterDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter Display";
  margin: 0 0 30px 0;
}
p {
  font-size: 18px;
  line-height: 1;
  margin: 0 0 20px 0;
}
h1 {
  font-size: 38px;
  line-height: 1.15;
}
@media (min-width: 768px) {
  h1 {
    font-size: 48px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 56px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 64px;
  }
}
@media (min-width: 1367px) {
  h1 {
    font-size: 72px;
  }
}
@media (min-width: 1681px) {
  h1 {
    font-size: 80px;
  }
}
h2 {
  font-size: 32px;
  line-height: 1.2;
}
@media (min-width: 768px) {
  h2 {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 46px;
  }
}
@media (min-width: 1367px) {
  h2 {
    font-size: 52px;
  }
}
@media (min-width: 1681px) {
  h2 {
    font-size: 58px;
  }
}
h3 {
  font-size: 26px;
  line-height: 1.3;
}
@media (min-width: 768px) {
  h3 {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  h3 {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  h3 {
    font-size: 34px;
  }
}
@media (min-width: 1367px) {
  h3 {
    font-size: 38px;
  }
}
@media (min-width: 1681px) {
  h3 {
    font-size: 42px;
  }
}
h4 {
  font-size: 22px;
}
@media (min-width: 768px) {
  h4 {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  h4 {
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  h4 {
    font-size: 28px;
  }
}
@media (min-width: 1367px) {
  h4 {
    font-size: 30px;
  }
}
@media (min-width: 1681px) {
  h4 {
    font-size: 32px;
  }
}
h5 {
  font-size: 18px;
}
@media (min-width: 768px) {
  h5 {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  h5 {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  h5 {
    font-size: 22px;
  }
}
@media (min-width: 1367px) {
  h5 {
    font-size: 24px;
  }
}
@media (min-width: 1681px) {
  h5 {
    font-size: 26px;
  }
}
h6 {
  font-size: 18px;
}
p {
  font-size: 16px;
  line-height: 1.6;
}
@media (min-width: 992px) {
  p {
    font-size: 18px;
  }
}
.btn {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  padding: 16px 24px 15px 24px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  position: relative;
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.btn .button_text-wrapper {
  overflow: hidden;
}
.btn .button_text-wrapper .button_text {
  text-shadow: 0 1em 0 #000000;
  position: relative;
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.btn svg {
  position: relative;
  top: 1px;
  width: 15px;
  height: 15px;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.btn:hover {
  transform: translateY(-2px);
}
.btn:hover .button_text-wrapper .button_text {
  transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  will-change: transform;
}
.btn:hover svg {
  width: 15px;
  height: 15px;
  transform: translate3d(5px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important;
}
.btn-primary {
  background: #a0e146;
  color: #000;
}
.btn-primary svg {
  color: #000;
}
.btn-primary:hover,
.btn-primary:active {
  background: #a0e146;
  background-color: #a0e146 !important;
  color: #000;
}
.btn-secondary {
  background: #334bd3;
  color: #fff;
}
.btn-secondary:hover,
.btn-secondary:active {
  background: #334bd3;
  background-color: #334bd3 !important;
  color: #fff;
}
.btn-secondary:hover .button_text,
.btn-secondary:active .button_text {
  text-shadow: 0 1em 0 #ffffff;
}
.btn-dark {
  background: #000;
  color: #fff;
}
.btn-dark:hover,
.btn-dark:active {
  background: #000;
  background-color: #000 !important;
  color: #fff;
}
.btn-dark:hover .button_text,
.btn-dark:active .button_text {
  text-shadow: 0 1em 0 #ffffff;
}
section {
  padding: 50px 0;
}
section:not(.banner) {
  border-bottom: 1px solid #00000020;
}
h6.subtitle {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}
h6.subtitle::before {
  content: "";
  position: relative;
  width: 13px;
  height: 14px;
  display: block;
  background: url(../images/icon-star.svg);
  margin-right: 5px;
  top: -1px;
}
header.hidden {
  transform: translateY(-120%);
}
header.hidden .header-wrapper {
  width: 200px;
  border-radius: 15px;
}
header.visible {
  transform: translateY(10px);
}
header.visible .header-wrapper {
  width: 200px;
  border-radius: 15px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.135, 0.9, 0.15, 1);
  transition-duration: 1s;
  display: flex;
  justify-content: center;
}
header .header-wrapper {
  background: #ffffff90;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  padding: 10px 0;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: width;
  transition-timing-function: cubic-bezier(0.135, 0.9, 0.15, 1);
  transition-duration: 1s;
}
@media (min-width: 1681px) {
  header {
    max-width: 1320px;
    top: 25px;
    border-radius: 10px;
  }
}
header .brand-logo {
  font-family: "Inter Display";
  font-size: 24px;
  color: #000;
  font-weight: 500;
  display: block;
}
header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav li + li {
  margin-left: 15px;
}
header .nav li a {
  font-size: 16px;
  line-height: 1;
  color: #000;
  display: block;
  padding: 20px 0;
}
header .dark-toggle {
  margin-right: 15px;
}
.home-banner {
  padding: 100px 0 0 0;
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 500px;
}
.home-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000085;
  z-index: 1;
  opacity: 0.3;
}
.home-banner .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-banner .bg-img img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.home-banner .bg-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  z-index: 0;
  opacity: 0;
}
.home-banner .bg-vid video {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  display: block;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0);
  object-position: 50% 50%;
}
.home-banner .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.home-banner .user-info .user-img {
  background: #d9dde2;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: -10px;
}
.home-banner .user-info .user-desc {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 10px 15px;
  border-radius: 5px;
}
.home-banner .user-info .user-desc .active-dot {
  width: 10px;
  height: 10px;
  background: #14b442;
  border-radius: 50%;
}
.home-banner .user-info .user-desc p {
  font-size: 12px;
  line-height: 1;
  margin: 0;
  color: #000;
}
.home-banner h1 {
  text-align: center;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  margin-bottom: 30px;
}
.home-banner p {
  color: #fff;
  text-align: center;
  margin: 0 auto 30px auto;
  max-width: 320px;
}
.home-banner .btn-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.home-banner .service-marquee {
  margin: 50px auto 20px auto;
  display: flex;
  flex-flow: column;
  height: 2rem;
  padding-top: 0.675rem;
  mask: linear-gradient(#0000, #000 50%, #0000);
}
.home-banner .service-marquee .service-marquee__item {
  transition: transform 0.3s linear;
}
.home-banner .service-marquee .service-marquee__item p {
  max-width: 100%;
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}
.trusted-partners {
  padding: 0;
  border: 0;
  background: #fff;
}
.trusted-partners .client-logo-row-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.trusted-partners .client-logo-row-wrap .client-logo-row {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s linear;
  animation: marquee-scroll 30s linear infinite;
}
.trusted-partners .client-logo-row-wrap .client-logo-row .client-logo-wrap {
  width: 200px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00000010;
  padding: 30px;
}
.trusted-partners .client-logo-row-wrap .client-logo-row .client-logo-wrap img {
  height: 40px;
}
@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.faq .faq-card-wrapper {
  background: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.faq .faq-card-wrapper .faq-user-card {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq .faq-card-wrapper .faq-user-card .card-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.faq .faq-card-wrapper .faq-user-card .card-top .card-img {
  background: #d9dde2;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.faq .faq-card-wrapper .faq-user-card .card-top p {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  width: calc(100% - 66px);
  padding-left: 20px;
}
.faq .faq-card-wrapper .faq-user-card .btn {
  min-width: 200px;
  text-align: center;
  margin: 0 auto;
}
.faq .faq-card-wrapper .faq-user-card .email {
  margin-top: 30px;
  text-align: center;
}
.accordion {
  padding: 20px 0;
}
@media (min-width: 768px) {
  .accordion {
    padding: 0;
  }
}
.accordion .accordion-item {
  background: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.accordion .accordion-item + .accordion-item {
  margin-top: 10px;
}
.accordion .accordion-item .accordion-header .accordion-button {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  transition: transform 0.3s ease;
  font-size: 16px;
  font-weight: 500;
  padding-right: 50px;
  color: #000;
}
.accordion .accordion-item .accordion-header .accordion-button .acc-no {
  transition: all 0.3s ease;
  opacity: 1;
  transform: 0;
  transform-origin: 50% 50% 0px;
  will-change: transform;
}
.accordion .accordion-item .accordion-header .accordion-button .acc-text {
  transition: all 0.3s ease;
  transform: translateX(15px);
  position: relative;
  padding-right: 15px;
}
.accordion .accordion-item .accordion-header .accordion-button::after {
  position: absolute;
  right: 20px;
  background-image: url(../images/icon-plus-new.svg);
  margin-left: 15px;
}
.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  border-bottom: 1px solid #00000020;
}
.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  transform: rotate(45deg);
}
.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) .acc-no {
  transform: translateX(-50%);
  transform-origin: 50% 50% 0px;
  will-change: transform;
  position: absolute;
  opacity: 0;
}
.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) .acc-text {
  transform: translateX(0);
}
.accordion .accordion-item .accordion-collapse .accordion-body {
  padding-bottom: 20px;
}
.accordion .accordion-item .accordion-collapse .accordion-body p {
  margin: 20px 0 0 0;
}
.accordion .accordion-item .accordion-collapse .accordion-body p:nth-child(1) {
  margin: 0;
}
.testimonials .testimonial-slider {
  padding-bottom: 15px;
}
.testimonials .testimonial-slider .swiper-wrapper .swiper-slide .testimonial-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 15px;
}
.testimonials .testimonial-slider .swiper-wrapper .swiper-slide .testimonial-card .testimonial-card__content {
  padding: 20px 20px;
  border-bottom: 1px solid #00000020;
}
.testimonials .testimonial-slider .swiper-wrapper .swiper-slide .testimonial-card .testimonial-card__content img {
  margin-bottom: 15px;
}
.testimonials .testimonial-slider .swiper-wrapper .swiper-slide .testimonial-card .testimonial-card__content p {
  margin: 0;
}
.testimonials .testimonial-slider .swiper-wrapper .swiper-slide .testimonial-card .auther-info {
  display: flex;
  align-items: center;
  padding: 20px 20px;
}
.testimonials .testimonial-slider .swiper-wrapper .swiper-slide .testimonial-card .auther-info .auther-img {
  background: #d9dde2;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.testimonials .testimonial-slider .swiper-wrapper .swiper-slide .testimonial-card .auther-info .auther-name {
  width: calc(100% - 66px);
  padding-left: 15px;
}
.testimonials .testimonial-slider .swiper-wrapper .swiper-slide .testimonial-card .auther-info .auther-name p {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  margin: 0;
}
.about {
  background: #fff;
}
.about h2 {
  margin: 0 0 30px 0;
}
.about .profile-row .user-img-wrapper {
  position: relative;
  margin-bottom: 20px;
}
.about .profile-row .user-img-wrapper .user-img {
  border-radius: 15px;
  overflow: hidden;
  background: #d9dde2;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.about .profile-row .user-img-wrapper .user-img:hover img {
  filter: grayscale(0%);
  transition: filter 0.5s ease-in-out;
}
.about .profile-row .user-img-wrapper .user-img img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}
.about .profile-row .user-img-wrapper .social-links {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  padding: 0;
  margin: 0;
  gap: 10px;
  transform: translateX(-50%);
}
.about .profile-row .user-img-wrapper .social-links li {
  list-style: none;
}
.about .profile-row .user-img-wrapper .social-links li a {
  background: #ffffff10;
  backdrop-filter: blur(5px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.about .profile-row .user-info-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .profile-row .user-info-col .user-info {
  text-align: center;
}
.about .profile-row .user-info-col .user-info h3 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}
.about .profile-row .user-info-col .user-info h6 {
  color: #545454;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.about .profile-row .user-info-col .user-info p {
  font-size: 18px;
}
.about .profile-row .user-info-col .user-info .btn {
  width: fit-content;
  margin: 0 auto;
}
.recent-projects {
  background: #eef0f6;
}
.recent-projects h2 {
  margin: 0 0 20px 0;
}
.recent-projects p {
  margin: 0 0 20px 0;
}
.recent-projects .recent-projects-card {
  border-radius: 15px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}
.recent-projects .recent-projects-card .card-img {
  position: relative;
  overflow: hidden;
}
.recent-projects .recent-projects-card .card-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.1;
}
.recent-projects .recent-projects-card .card-body {
  padding: 15px 10px 20px 15px;
}
.recent-projects .recent-projects-card .card-body span {
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin: 0 0 5px 0;
}
.recent-projects .recent-projects-card .card-body .title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 5px 0;
}
.recent-projects .recent-projects-card .card-body .title img {
  width: 24px;
}
.recent-projects .recent-projects-card .card-body .title h3 {
  margin: 0;
}
.recent-projects .recent-projects-card .card-body p {
  color: #00000060;
  margin: 0;
}
.recent-projects .btn-primary {
  margin-top: 30px;
}
.recent-projects .projects-row {
  --bs-gutter-y: 30px;
}
.services-stack .service-content h2 {
  margin: 0 0 5px 0;
}
.services-stack .service-content p {
  margin: 0;
}
.services-stack .service-content .tech-stack {
  margin-bottom: 30px;
}
.services-stack .service-content .tech-stack .tech-slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-top: 30px;
}
.services-stack .service-content .tech-stack .tech-slider .tech-logo-row {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: marquee-scroll-logos 20s linear infinite;
}
.services-stack .service-content .tech-stack .tech-slider .tech-logo-row .tech-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
}
.services-stack .service-content .tech-stack .tech-slider .tech-logo-row .tech-logo img {
  width: 50px;
  height: 50px;
}
.services-stack .service-content .tech-stack .tech-slider .tech-logo-row .tech-logo .name-tag {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -30px);
  background: #a0e146;
  padding: 2px 8px 2px 8px;
  border-radius: 5px;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  overflow: visible;
}
.services-stack .service-content .tech-stack .tech-slider .tech-logo-row .tech-logo .name-tag p {
  margin: 0;
  font-size: 14px;
}
.services-stack .service-content .tech-stack .tech-slider .tech-logo-row .tech-logo:hover .name-tag {
  transform: translate(-50%, -40px);
  opacity: 1;
}
.services-stack .service-card {
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.services-stack .service-card .service-card__img {
  position: relative;
}
.services-stack .service-card .service-card__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
}
.services-stack .service-card .service-card__body {
  padding: 20px 20px 30px 20px;
}
.services-stack .service-card .service-card__body h3 {
  margin: 0 0 15px 0;
}
.services-stack .service-card .service-card__body p {
  margin-bottom: 0 0 15px 0;
}
.services-stack .service-card .service-card__body .service-card__tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.services-stack .service-card .service-card__body .service-card__tags span {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  padding: 8px 12px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #00000015;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.services {
  background: #fff;
}
.services .service-card {
  background: #f9f9f9;
  border-radius: 15px;
  border: 1px solid #00000015;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.services .service-card .service-card__content {
  padding: 30px 20px;
}
@media (min-width: 1200px) {
  .services .service-card .service-card__content {
    width: 50%;
  }
}
.services .service-card .service-card__content .feature-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.services .service-card .service-card__content .feature-tags span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background: #eef0f6;
  border: 1px solid #00000010;
  color: #4f4f4f;
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  padding: 8px;
  border-radius: 5px;
}
.services .service-card .service-card__content .feature-tags span img {
  width: 20px;
  height: 20px;
}
.services .service-card .service-card__img {
  position: relative;
}
.services .service-card .service-card__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 150px;
  background-image: linear-gradient(90deg, #0c0c0c, #0c0c0c00);
}
@media (min-width: 1200px) {
  .services .service-card .service-card__img {
    width: 50%;
  }
}
@keyframes marquee-scroll-logos {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
footer {
  background: #000000;
  padding: 50px 0 0 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
footer .footer-top .footer-logo {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  font-family: "Geist-Bold", sans-serif;
}
footer .footer-top .social-links {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
footer .footer-top .social-links li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .get-in-touch {
  padding: 40px 20px;
  max-width: 370px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  footer .get-in-touch {
    max-width: 460px;
  }
}
@media (min-width: 992px) {
  footer .get-in-touch {
    max-width: 580px;
  }
}
footer .get-in-touch .get-in-touch-content h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}
@media (min-width: 768px) {
  footer .get-in-touch .get-in-touch-content h2 {
    font-size: 70px;
  }
}
@media (min-width: 992px) {
  footer .get-in-touch .get-in-touch-content h2 {
    font-size: 90px;
  }
}
footer .get-in-touch .get-in-touch-content .cta-btn-wrap {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: -50px;
}
@media (min-width: 992px) {
  footer .get-in-touch .get-in-touch-content .cta-btn-wrap {
    margin-top: -75px;
  }
}
footer .get-in-touch .get-in-touch-content .cta-btn-wrap::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 1px;
  background: #ffffff20;
}
footer .get-in-touch .get-in-touch-content .cta-btn-wrap .cta-btn {
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #a0e146;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  position: relative;
}
@media (min-width: 992px) {
  footer .get-in-touch .get-in-touch-content .cta-btn-wrap .cta-btn {
    width: 180px;
    height: 180px;
  }
}
footer .footer-nav {
  padding: 15px 0;
}
footer .footer-nav ul {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
footer .footer-nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footer-nav ul li a {
  color: #fff;
  font-size: 16px;
}
footer .row.privacy {
  padding: 15px 0;
  border-top: 1px solid #ffffff20;
}
footer .row.privacy .col-12 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
footer .row.privacy p {
  font-size: 12px;
  color: #ffffff80;
  margin: 0;
  width: fit-content;
}
.services {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #EEF0F6;
  font-family: 'Geist', sans-serif;
}
a {
  text-decoration: none;
}
img,
video {
  max-width: 100%;
  height: auto;
}
