@import "variables.less";
@import "typography.less";
@import "buttons.less";
@import "global.less";
@import "header.less";
@import "home.less";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #EEF0F6;
    font-family: 'Geist', sans-serif;
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}