@import "variables.less";
@import "typography.less";
@import "buttons.less";
@import "global.less";
@import "header.less";
@import "home.less";
@import "about.less";
@import "projects.less";
@import "services.less";
@import "footer.less";
@import "faq.less";

@import "dev.less";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #eef0f6;
  font-family: "Geist", sans-serif;
  // font-family: 'Beatrice Trial';
  // font-weight: 300;
}

a {
  text-decoration: none;
}
img,
video {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  @media @sm {
    padding: 0 50px;
  }
  @media @lg {
    padding: 0 80px;
  }
  @media @xl {
    padding: 0 100px;
  }
  // @media @xxl {
  //   max-width: 1600px;
  // }
}
