@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Bold.woff2') format('woff2'), url('../fonts/Geist-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-ExtraBold.woff2') format('woff2'), url('../fonts/Geist-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Black.woff2') format('woff2'), url('../fonts/Geist-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Thin.woff2') format('woff2'), url('../fonts/Geist-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Medium.woff2') format('woff2'), url('../fonts/Geist-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Regular.woff2') format('woff2'), url('../fonts/Geist-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-SemiBold.woff2') format('woff2'), url('../fonts/Geist-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Light.woff2') format('woff2'), url('../fonts/Geist-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter Display';
  src: url('../fonts/InterDisplay-Black.woff2') format('woff2'), url('../fonts/InterDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter Display';
  src: url('../fonts/InterDisplay-Bold.woff2') format('woff2'), url('../fonts/InterDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter Display';
  src: url('../fonts/InterDisplay-Medium.woff2') format('woff2'), url('../fonts/InterDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter Display';
  src: url('../fonts/InterDisplay-ExtraBold.woff2') format('woff2'), url('../fonts/InterDisplay-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter Display';
  src: url('../fonts/InterDisplay-SemiBold.woff2') format('woff2'), url('../fonts/InterDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter Display';
  src: url('../fonts/InterDisplay-Thin.woff2') format('woff2'), url('../fonts/InterDisplay-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter Display';
  src: url('../fonts/InterDisplay-Regular.woff2') format('woff2'), url('../fonts/InterDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background: #fff;
  width: 100%;
}
header .brand-logo {
  font-size: 24px;
  font-family: 500;
  color: #000;
}
header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav li + li {
  margin-left: 15px;
}
header .nav li a {
  font-size: 16px;
  line-height: 1;
  color: #000;
  display: block;
  padding: 20px 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #EEF0F6;
  font-family: 'Geist', sans-serif;
}
a {
  text-decoration: none;
}
