@import "variables.less";
@import "typography.less";
@import "buttons.less";
@import "global.less";
@import "header.less";
@import "home.less";
@import "about.less";
@import "projects.less";
@import "services.less";
@import "footer.less";

@import "dev.less";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #eef0f6;
  font-family: "Geist", sans-serif;
}

a {
  text-decoration: none;
}
img,
video {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  @media @xs {
    padding: 0 20px;
  }
  @media @sm {
    padding: 0 30px;
  }
  @media @md {
    padding: 0 40px;
    // max-width: 1440px;
  }
  @media @xl {
    max-width: 1680px;
  }
  @media @xxl {
    // padding: 0 100px;
  }
}
