@xs: ~"(min-width: 480px)";
@sm: ~"(min-width: 768px)";
@md: ~"(min-width: 992px)";
@lg: ~"(min-width: 1200px)";
@xl: ~"(min-width: 1367px)";
@xxl: ~"(min-width: 1681px)";



@text-margin: 0 0 20px 0;
@card-border-radius: 15px;

@box-shadow-0: rgba(0, 0, 0, 0.16) 0px 1px 4px;
@box-shadow-1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
@box-shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
@box-shadow-3: rgba(0, 0, 0, 0.35) 0px 5px 15px;
