@xs: ~"(min-width: 480px)";
@sm: ~"(min-width: 768px)";     
@md: ~"(min-width: 992px)";    
@lg: ~"(min-width: 1200px)";    
@xl: ~"(min-width: 1367px)"; 
@xxl: ~"(min-width: 1681px)"; 

@header-margin: 0 0 30px 0;
@text-margin: 0  0 20px 0; 
@card-border-radius: 15px;  